.container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;

  }
  .flex-row{
    display: flex;
    flex-direction: row;
  }
  .flex-colomn{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 183px;
  }
  .direction {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    width: 300px;
    justify-content: space-around;
    border: 1px solid;

  }
  .timer{
    font-size: 3rem;

  }
  
  .traffic-light {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    flex-direction: column;
    height: 170px;

    justify-content: space-around

  }
  
  .light {
    height:50px;
    width: 50px;
    border-radius: 25px;
    margin: 0 10px;
  }
  
  .red {
    background-color: red;
  }
  .color-red {
    color: red;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .green {
    background-color: green;
  }
  .color-green {
    color: green;
  }
  .transform-scal{
    transform: scale(1.3);
  }
  
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  input[type="number"] {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  select {
    padding: 10px;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: green;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  .light{
    /* visibility: hidden !important; */
}

.flex-colomn i{
  color: green;
}
.visiblity-low{
 opacity: 0.12; 
    /* visibility: hidden !important; */

}